* {
    //touch-action : pinch-zoom;
}

@font-face {
    font-family: "CustomFont";
    src: url("font/Raleway/Raleway-VariableFont_wght.ttf") format("ttf");
}

@font-face {
    font-family: "CustomFont";
    src: url("font/Montserrat/Montserrat-VariableFont_wght.ttf") format("ttf");
}

@font-face {
    font-family: "CustomFont";
    src: url("font/Cormorant/Cormorant-VariableFont_wght.ttf") format("ttf");
}

@font-face {
    font-family: "CustomFont";
    src: url("font/Comfortaa/Comfortaa-VariableFont_wght.ttf") format("ttf");
}

@import 'center';
@import 'section';
@import 'form';
@import 'navigation';
@import 'ChangeColor';
@import 'button';

//@import 'carousel';



.section-article-content {
    scroll-behavior: smooth
}

.scrollbar-container {
    position: absolute;
    height: 75vh;
    overflow: auto !important;
    background-color: rgba(255, 255, 255, 0);
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;

    &:hover {
        background-color: rgba(255, 255, 255, 0.75);
    }
}

// SCROLLBAR
.scrollbar-container .inner {
    width: 100%;

}

::-webkit-scrollbar {
    background: transparent;
    display: -webkit-box !important;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0);
    border: solid rgb(231, 231, 231) 1px;
    border-radius: 5px;

}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

// FIN SCROLLBAR

// 
body {
    background-color: rgba(0, 0, 0, 0);
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #1a0331;
    position: fixed;
    //touch-action: none;
    overflow: hidden;
    height: 100vh;
    width: 100vw;

    #grained {
        position: absolute;
        width: 100vw;
        height: 100vh;
    }

    main {
        width: 100vw;
        height: 100vh;
        transition: background-color 2s;
        background-color: #1a0331;

        background: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 0, 0)), to(rgba(255, 255, 255, 0)));
        background: -o-linear-gradient(rgb(0, 0, 0), rgba(255, 255, 255, 0));
        background: linear-gradient(rgb(0, 0, 0), rgba(255, 255, 255, 0));

        section {
            width: 100vw;
            height: 100vh;
            position: absolute;
            color: black;
        }

        article {
            z-index: 10;
            width: 100vw;
            height: 100vh;
        }

        #scrollbar {
            position: absolute;
            right: 5px;
            height: 30px;
            width: 10px;
            border-radius: 10px;
            margin-top: 5px;
            background: rgb(255, 255, 255);
            z-index: 2000;
        }

        ::-webkit-scrollbar {
            display: none;
        }
    }

}

.section-article-background{ 
    background-image: url(../svg/imagebg.svg);
    position: absolute;
    background-repeat: no-repeat;
    top: -60vh;
    right: 10vw;
    width: 160vh;
    height: 160vh;
    transform: rotate(118deg);
    z-index: 0;

    -webkit-animation-name: spin;
    -webkit-animation-duration: 400000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 400000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 400000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    -o-transition: rotate(3600deg);
   }

   @-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}



