.image{
    .section-article-content{
        border: 3px solid #04498b !important;
    }
}
.web{
    .section-article-content{
        border: 3px solid #048b34 !important;
        .section-article-content-second-left-title {
            color: #048b34 !important;
        }
        .section-article-content-third-box-item-title {
            color: #048b34 !important;
        }
        .section-article-content-fourth-box-title {
            color: #048b34 !important;
        }
    }
}
.audio{
    .section-article-content{
        border: 3px solid #51048b !important;
        .section-article-content-second-left-title {
            color: #51048b !important;
        }
        .section-article-content-third-box-item-title {
            color: #51048b !important;
        }
        .section-article-content-fourth-box-title {
            color: #51048b !important;
        }
    }
}
.video{
    .section-article-content{
        border: 3px solid #8b6804 !important;
        .section-article-content-second-left-title {
            color: #8b6804 !important;
        }
        .section-article-content-third-box-item-title {
            color: #8b6804 !important;
        }
        .section-article-content-fourth-box-title {
            color: #8b6804 !important;
        }
    }
}